{
    "outputs": [ "output1/profiles", "output2/profiles" ],
    "_inputs": [
        {
            "meta": { "subject": "0001"}
        },
        {
            "meta": { "subject": "0002"}
        }
    ]
}
